[package]
name = "api"
version = "0.1.0"
edition = "2021"

[dependencies]
actix-web = "4"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
config = "0.13"
dotenvy = "0.15"
infrastructure = { path = "../infrastructure" }
core = { path = "../core" }
